/* Reseteamos márgenes y rellenos */
body {
  margin: 0;
  padding: 0;
}

/* Diseño del header */
header {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  color: rgb(240, 93, 80);
}
header h1{
  font-size: 300%;
  margin-bottom: 0;
}
header a:hover {
  color: rgba(240, 93, 80, 0.5);
}

/* Diseño del menú de navegación */
nav {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 5em;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 5px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 25);
  transition: color 0.1s ease-in-out;
}
nav ul li a:hover {
  color: rgba(0, 0, 25, 0.5);
}
nav ul li.actual a {
  font-weight: 700;
  font-style: italic;
}

/* Diseño del footer */
footer {
  background-color: rgb(0, 0, 25);
  color: rgb(255, 255, 255);
  padding: 15px 0;
  min-height: 8em;
  margin-top: 6em;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

footer a:hover {
  color: rgb(240, 93, 80);
}

/* Formato del contenido principal */
main {
  font-family: Helvetica, Arial, sans-serif;
}
main p {
  color: rgb(0, 0, 25);
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
  line-height: 1.75em;

}
main h2 {
  font-size: 200%;
}
ol li, ul li  {
  color: rgba(0, 0, 25, 0.5);
}
a {
  color: rgb(240, 93, 80);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: rgba(240, 93, 80, 0.5);
}

blockquote , cite {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

abbr {
  text-decoration: none; /* Quitar el subrayado */
  color: inherit; /* Usar el color heredado del texto circundante */
}


/* Clases predefinidas */
.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}
.centrar_medio {
  text-align: center;
}
.centrar_izquierda {
  text-align: left;
}
.texto_separacion_lineas {
  line-height: 2em;
}
.texto_sin_subrayado {
  text-decoration: none;
}
.texto_naranja {
  color: #da6732;
}
.texto_negrita {
  font-weight: bold;
}
.quitar_margin {
  margin: 0;
}
.color_blanco {
  color: rgb(255, 255, 255);
}
.texto_mayusculas {
  text-transform: uppercase;
}
.texto_grande {
  font-size: large;
}
.texto_muy_grande{
  font-size: 300%;
}
.texto_chico {
  font-size: small;
}
.texto_cursiva{
  font-style: italic;
}

.texto_quitar_negrita{
  font-weight: 500;
}

.margin_inferior{
  margin-bottom: 4em;
}

.margin_superior{
  margin-top: 2em;
}

.contenido_centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Modificaciones para ID */
#listado_premios {
  list-style: none;
  padding-left: 25%;
}
#listado_premios li ul {
  margin: 0;
  padding-left: 4em;
}
#listado_premios li ul li {
  list-style-type: square;
  margin: 0.5em;
  font-size: larger;
}
#listado_premios time {
  font-size: x-large;
  font-weight: bold;
}
#listado_premios h2 {
  margin: 0;
}
#consulta_premios {
  margin: 3em;
}
#texto_rock {
  margin-right: 20%;
  font-size: x-large;
}
#texto_concesion {
  max-width: 70%;
  margin: 0 auto;
  font-size: 130%;
}
#listado_descriptivo dt {
  font-size: x-large;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
#listado_descriptivo time {
  color: rgba(0, 0, 25, 0.5);
  font-size: x-large;
  font-weight: bold;
}
#listado_descriptivo dd {
  font-size: 120%;
  line-height: 2em;
}

#bob_figcaption{
  margin-top: 1em;
  font-style: italic;
}